1-Write a Python program to find those numbers which are divisible by 7
and multiple of 5, between 1500 and 2700 (both included).

In [30]:
n=int(input("kinldy enter the number:"))
def value(n):
    if n % 7 == 0 and 1500<n*5<2700:
        return (n)
    else:
        return ('not valid number')
print(value(n))

kinldy enter the number:350
350

2-Write a Python program to convert temperatures to and from celsius,
fahrenheit.
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in
fahrenheit ]

In [29]:
Temperature=int(input('enter the current  tmperature in celsius degrees:' ))
print('the temperature in F=:',Temperature*1.8+32)

enter the current  tmperature in celsius degrees:0
the temperature in F=: 32.0

In [33]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

4-Write a Python program that accepts a word from the user and reverse
it.

In [39]:
word=input("enter your word:")
wordlength=len(word) #find the length of the word
reversedword=word[wordlength::-1] #creat new list with the same the same numbers of letters but starting from the  last letter of the  word
print(reversedword) #the reversed  word

enter your word:good
doog

5-Write a Python function to find the Max of three numbers.

In [47]:
test=[]
for i in range(0,3):
    number=int(input('enter three numbers:'))
    test.append(number)
print(max(test))

enter three numbers:4
enter three numbers:5
enter three numbers:6
6

6-Write a Python function to sum all the numbers in a list.

In [49]:
lst=[3,4,5,1,10]
sum(lst)

23

7-Write a Python program that prints all the numbers from 0 to 6 except 3
and 6.
Note : Use 'continue' statement.

In [62]:
test=6
while test > 0:              
   test = test-1
   if test == 3:
      continue
   print(('Current variable value :'), test)

Current variable value : 5
Current variable value : 4
Current variable value : 2
Current variable value : 1
Current variable value : 0

8-Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number as an argument.

In [16]:
n=int(input("enter the integer:"))
def factorial(n):
    if  n<0:
        return ("no factorial for negative number")
    elif n == 0:
        return 1
    else:
        return (n*factorial(n-1))

print (factorial(n))

enter the integer:7
5040

9-Write a Python function that takes a list and returns a new list with
unique elements of the first list.

In [21]:
uniqlst=[] 
lst1=[1,3,4,5,4,33,78,9,3,33]
for x in  lst1:
    if x not in uniqlst:
        uniqlst.append(x)
print(uniqlst)

[1, 3, 4, 5, 33, 78, 9]

10-Write a Python program to create a lambda function that adds 15 to a
given number passed in as an argument, also create a lambda function
that multiplies argument x with argument y and print the result. Bonus

In [23]:
summation = lambda a: a+15
print(summation(5))
multiplies=lambda a,b:a*b
print(multiplies(3,4))

20
12